body {
  font-family: "Robotto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 22px;
  color: rgb(40, 49, 54);
  font-weight: bold;
}

h1 {
  clear: both;
  font-size:40px;
  line-height:auto;
  color:rgb(0,0,0);
}
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
.main-header {	
	margin-bottom: 50px;
	min-height: 85px;
}

.main-header-catalog {
	min-height: 328px;
	outline: 2px solid yellow;
}
.main-header .container {
	outline: 2px solid red;
}
.container {
	width: 880px;
	padding: 0 10px;	
	margin: 0 auto;	
}
.index-logo {
	float: left;
	min-height: 85px;
	width: 140px;
}
.main-navigation {
	float: left;
	min-height: 85px;
	width: 560px;
	outline: 2px solid green;
}
.main-navigation ul li{
	display: inline-block;
}
.user-block {
	float: left;
	min-height: 85px;
	width: 90px;
	outline: 2px solid yellow;

}
.slider {
	margin-bottom: 80px;
}
.slider-content{
	outline: 2px solid green;
}
.slider-content-left {
	float: left;
	width: 390px;
	min-height: 300px;
}
.slider-content-right{
	float: right;
	width: 400px;
	min-height: 300px;
}
.features-item{
	float: left;
	width: 240px;
	margin-right: 80px;
	min-height: 300px;
	outline: 2px solid green;
}
.features-item:last-child{
	margin-right: 0px;
}
.about-company-content-left{
	float: left;
	width: 630px;
	min-height: 340px;	
}
.about-company-content-right{
	float: right;
	width: 250px;
	min-height: 340px;
}
.about-company{
	margin-top: 140px;
	outline: 2px solid blue;
}
.aside{
	outline: 2px solid blue;
}
.aside-content-left{
	float: left;
	width: 460px;
	min-height: 150px;
}
.aside-content-right {
	float: right;
	width: 240px;
	min-height: 150px;
}
.catalog{
	float: right;
	width: 580px;
	min-height: 1130px;
	outline: 2px solid red;
	margin-bottom: 80px;
}

.sidebar {
	float: left;
	width: 240px;
	min-height: 730px;
	outline: 2px solid green
}
.contacts {
	clear: both;
}
.catalog-filter {
	clear: both;
}
.catalog-filter ul li {
	display: inline-block;
}
.catalog-item {
	float: left;
	width: 250px;
	min-height: 275px;
	margin-bottom: 80px;
}
.catalog-item:nth-child(2n+1){
	outline: 3px solid blue;
	margin-left: 80px;
}
.catalog-item:nth-child(2n) {
	outline: 3px solid green;
}
.catalog-pagination {
	clear: both;
}
.gallery {
	margin-top: 75px;
	outline: 2px solid yellow;
	min-height: 170px;
	margin-bottom: 85px;
}
.gallery ul li {
	display: inline-block;
}

.main-footer .container {
	margin-top: 75px;	
	min-height: 140px;
	outline: 2px solid green;
}
.main-footer-map{

}
.footer-container-left {
	float: left;
	width: 300px;
}
.footer-content-right {
	float: right;
	width: 560px;
}