body {
  font-family: "Robotto", "Arial", sans-serif;
  min-width: 900px;
  font-size: 16px;
  line-height: 22px;
  color: rgb(40, 49, 54);
  background:#ffffff;
  font-weight: 600;
}

h1 {
  clear: both;
  font-size:40px;
  line-height:auto;
  color:rgb(0,0,0);
}
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
.main-header {	
	margin-bottom: 55px;
	min-height: 80px;
	background:#eeeeee;
}

.main-header-catalog {
	min-height: 328px;
	outline: 2px solid yellow;
	background:#eeeeee;
	margin-bottom: 80px;
}
.main-header .container {
	outline: 2px solid red;
}
.main-welcome {
	font-size: 40px;
	line-height: 40px;
	text-transform: uppercase;
	padding-top: 75px;
	text-align: center;
}
.container {
	width: 880px;
	padding: 0 10px;	
	margin: 0 auto;	
}
.index-logo {
	position: relative;
	float: left;
	min-height: 80px;
	width: 150px;
	outline: 2px solid green;
}
.index-logo-img {
	position: absolute;
	top:27px;
}
.main-navigation {
	float: left;
	margin-left: 160px;
	min-height: 80px;
	width: 470px;
	outline: 2px solid green;
}
.main-navigation a {
	display: block;
	padding-top:50px;
	padding-left: 45px;
	padding-bottom: 0px;
	color:#3f3f3f;
	text-decoration: none;
	text-transform: uppercase;
}
 
.main-navigation ul {
	margin: 0px;
	padding: 0px;
	list-style: none;
	font-size: 0px;
}
.main-navigation li {
	display: inline-block;
	text-align: bottom;
	font-size: 14px;
	line-height: 30px;
	padding-bottom: 0px;

}
.user-block {
	float: right;
	min-height: 8px;
	max-width: 90px;
	outline: 2px solid yellow;

}
.basket {
	display: inline-block;
	vertical-align: top;
	padding-top: 50px;
	padding-left: 25px;
	font-size: 14px;
	line-height: 30px;
	text-transform: uppercase;
	color:#3f3f3f;
	text-decoration: none; 

}

.slider {
	margin-bottom: 80px;
	min-height: 300px;
	background:#eeeeee;
	outline: 2px solid blue;
}
.slider-content{
	outline: 2px solid green;
}
.slider-content-left {
	float: left;
	width: 390px;
	min-height: 220px;
	outline: 2px solid yellow;
}
.slider-slogan {
	font-size: 36px;
	line-height: 36px;
	margin:0px;
	margin-top: 25px;
	margin-bottom: 30px;
}
.more {
	display: inline-block;
	font-size: 12px;
	line-height: 18px;
	font-weight: 600;
	text-transform: uppercase;
	color:#ffffff;
	background:#fb565a;
	padding: 11px 70px;
	text-decoration: none;
}

.slider-content-right{
	position: relative;
	float: right;
	width: 340px;
	min-height: 220px;
	outline: 2px solid red;
}
.slider-logo-img{
	position: absolute;
}
.features {
	min-height: 380px;	
	background:url(../img/index/divide.png) no-repeat bottom;
	margin-bottom:60px;
}
.features-name {
	font-size: 18px;
	line-height: 30px;
	text-transform: uppercase;
	margin: 0px;
	margin-top: 27px;
	margin-bottom: 18px;
	font-weight: 600;
}
.features-desc {
	font-size: 15px;
	line-height: 22px;
	font-weight: 600;
	margin-bottom: 25px;

}
.features-image {
	width: 240px;
	height: 124px;
}
.features-item{
	float: left;
	width: 240px;
	margin-right: 80px;
	min-height: 300px;
	outline: 2px solid green;
}
.features-item:last-child{
	margin-right: 0px;
}
.btn-2 {
	background:red;
}
.features-anchor {
	display: inline-block;
	font-size: 12px;
	line-height: 18px;
	font-weight: 600;
	text-transform: uppercase;
	color:#ffffff;
	background:#fb565a;
	padding: 11px 40px;
	text-decoration: none;
}

.about-company-content-left{
	float: left;
	width: 620px;
	min-height: 415px;
	outline:2px solid red;	
}
.about-company-content-right{
	position: relative;
	float: right;
	width: 250px;
	min-height: 415px;
	outline: 2px solid green;
}
.about-company{
	margin-top: 140px;
	outline: 2px solid blue;
}
.about-company-slogan {
	margin-top: 0px;
	margin-bottom: 25px;
	font-size: 36px;
	line-height: 36px;
	font-weight: 600;
}
.about-container-right {
	width: 250px;
	min-height: 140px;
	background-color: green;
	outline: 2px solid red;
	text-align: center;
	text-transform: uppercase;

}
.about-container-left{
	width: 620px;
	min-height: 140px;
	background:yellow;
	outline: 2px solid red;
}

.aside-menu {
	margin: 0px;
	padding: 0px;
}
.aside-content-title {
	margin: 0px;
	text-transform: uppercase;
	margin-bottom: 30px;
	margin-top: 60px;
	font-size: 16px;
	line-height: 22px;
	text-transform: uppercase;

}
.about-company-desc {
	margin: 0px;
	margin-bottom: 54px;
}
.aside-content-left {
	width: 480px;
	height: 220px;
	background:yellow;
	outline: 2px solid blue;
}
.aside-content-right {
	width: 250px;
	min-height: 220px;
	background:yellow;
	outline:2px solid blue;
}
.aside-menu {
	list-style: none;
	margin: 0px;
	padding: 0px;
	margin-left: 35px;
}
.aside-menu li {
	margin-bottom: 15px;
}
.catalog{
	float: right;
	width: 580px;
	min-height: 1130px;
	outline: 2px solid red;
	margin-bottom: 80px;
}


.sidebar {
	float: left;
	width: 240px;
	min-height: 730px;
	outline: 2px solid green
}
.sidebar ul {
	list-style: none;
	margin: 0px;
	padding: 0px;

}
.contacts {
	clear: both;
}
.catalog-filter {
	clear: both;
}
.catalog-filter ul {
	margin: 0px;
	padding: 0px;
	font-size: 0px;
}
.catalog-filter ul li {
	display: inline-block;
	font-size: 12px;
	line-height: 18px;
}
.catalog-filter a {
	display: block;
	text-decoration: none;
}

.catalog-item {
	float: left;
	width: 250px;
	min-height: 275px;
	margin-bottom: 80px;
}
.catalog-item:nth-child(2n+1){
	outline: 3px solid blue;
	margin-left: 80px;
}
.catalog-item:nth-child(2n) {
	outline: 3px solid green;
}
.catalog-pagination {
	clear: both;
}
.gallery {
	margin-top: 75px;
	outline: 2px solid green;
	min-height: 170px;
	margin-bottom: 85px;
	background:yellow;
}

.main-footer .container {
	margin-top: 75px;	
	min-height: 140px;
	outline: 2px solid green;
	background:yellow;
}
.footer-slogan {
	font-size: 36px;
	line-height: 36px;

}
.footer-container-left {
	float: left;
	width: 300px;
}
.footer-content-right {
	float: right;
	width: 560px;
}

.main-footer{
	outline: 3px solid red;
}